@import '../../styles/mixins';
@import '../../styles/variables';
.top {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: $btn-lg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  display: flex;
  justify-content: space-between;

  // background-repeat: no-repeat;
  // background-position: center;
  @include for-size(tablet) {
    background: url(../../images/tablet/back-widewave-top.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-size(desktop) {
    background: url(../../images/desktop/topwaves-desk.png);
    background-repeat: no-repeat;
  }
}

.habitPage {
  display: flex;
  flex-flow: column;
  // justify-content: center;
  // align-items: center;
  background: url(../../images/mobile/back-wave-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 100%;
  @include for-size(tablet) {
    background: url(../../images/tablet/back-widewave-bottom.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: center;
  }
  @include for-size(desktop) {
    background: url(../../images/desktop/bottomwaves-desk.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: center;
  }
}
.top .btn {
  background-color: Transparent;
  color: aliceblue;
  border: none;
  cursor: pointer;
  display: block;

  @include for-size(tablet) {
    margin-left: 550px;
    background-color: Transparent;
    background-repeat: no-repeat;
    color: aliceblue;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    font-size: 150%;
  }
  @include for-size(desktop) {
    margin-left: 1350px;
    background-color: Transparent;
    background-repeat: no-repeat;
    color: aliceblue;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    font-size: 250%;
  }
}
.camera {
  display: block;

  @include for-size(tablet) {
    background-image: url(../../images/camera.png);
    width: 50px;
    height: 50px;
    margin-right: 510px;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: -20px;
  }
  @include for-size(desktop) {
    background-image: url(../../images/camera.png);
    width: 50px;
    height: 50px;
    margin-right: 1410px;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: -10px;
  }
}
.text {
  color: purple;
  // margin-right: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%;

  @include for-size(tablet) {
    color: purple;
    margin-right: 465px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 350%;
  }
  @include for-size(desktop) {
    color: purple;
    margin-right: 1501px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
  }
}
.defaultText {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #c5c5c5;
  font-family: 'Source Sans Roman';
  align-self: center;
  margin-top: 50px;
}
.calendar {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding: 0 10px;
  &span {
    display: inlone-block;
  }

  @include for-size(tablet) {
    margin-right: -460px;
    margin-top: -35px;
    font-size: 150%;
  }
  @include for-size(desktop) {
    margin-left: 1060px;
    margin-top: -40px;
    font-size: 250%;
  }
}
.habitItem {
  border: 1px solid black;
  margin-top: 10px;
  width: 20%;
  margin-left: 130px;

  @include for-size(tablet) {
    border: 1px solid black;
    margin-top: 10px;
    width: 10%;
    margin-left: 350px;
    font-size: 150%;
  }
  @include for-size(desktop) {
    border: 1px solid black;
    margin-top: 10px;
    width: 10%;
    margin-left: 850px;
    font-size: 250%;
  }
}
