@import '../../styles/mixins';
.top {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../../images/mobile/back-wave-top.png);
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @include for-size(tablet) {
    background: url(../../images/tablet/back-widewave-top.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-size(desktop) {
    background: url(../../images/desktop/topwaves-desk.png);
    background-repeat: no-repeat;
  }
}

.habitPage {
  background: url(../../images/mobile/back-wave-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 100%;
  @include for-size(tablet) {
    background: url(../../images/tablet/back-widewave-bottom.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: center;
  }
  @include for-size(desktop) {
    background: url(../../images/desktop/bottomwaves-desk.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: center;
  }
}
.top .btn {
  margin-left: 250px;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: aliceblue;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: absolute;

