.modal {
background-color: white;
display: flex;
flex-flow: column;
height: 100vh;
width: 100vw;
}

.formHeader {
  // width: 320px;
  background-color:rgb(2, 192, 185);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.closeModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Candara";
}

.closeBtn {
  background: transparent;
  border: none;
  padding: 10px;
  color:white;
  font-size: 20px;
  font-weight: bold;
}

.name {
  font-size: 16px;
  letter-spacing: 1px;
  color: #411c89;
  font-family: "Candara";
  margin-bottom: 8px;
}

.input {
  font-size: 14px;
  letter-spacing: 1px;
  color:white;
  font-family: "Candara";
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px 20px;
  font-weight: 300;

}

.formBody {
  padding: 20px 20px 0;
  background: url("../../images/mobile/bottom-lines.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: center;
  height: 100%;
}

.formBody input,
.formBody textarea,
.formBody option,
.formBody label {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 20px;
}

.formBody input::placeholder {
  color: #390093;
  font-weight: bold;
}

.formBody textarea {
  resize: none;
}

.formBody .label {
  font-size: 16px;
  letter-spacing: 1px;
  color: #411c89;
  font-family: "Source Sans Roman";
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input1 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #cbcbcb;
  font-weight: 300;
  font-family: "Source Sans Roman";
}


.option {
  font-size: 16px;
letter-spacing: 1px;
color: #cccccc;
font-family: "Candara";
border: none;
}

.color1, .color2, .color3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(2, 192, 185);
}

.color1 {
  background:rgb(2, 192, 185) ;
}

.color2 {
  background-color: #c0024a;
}

.color3 {
  background-color: #390093;
}

.remind {
  font-size: 16px;
letter-spacing: 1px;
color: #411c89;
font-family: "Source Sans Roman";
}

.save {
  font-size: 18px;
  letter-spacing: 1px;
  color: #411c89;
  font-weight: bold;
  font-family: "Candara";
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 15px;
}

// switcher
.switch {
  width: 60px;
  height: 34px;
  display: inline-block;
  position: relative;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #cccc;
  cursor: pointer;
  border-radius: 34px;
  transition: 0.4s ease-out;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  transition: 0.4s ease-out;
  border-radius: 50%;
}

input:checked + .slider {
  background: rgb(2, 192, 185);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(2, 192, 185);
}

input:checked + .slider:before {
  transform: translateX(26px);
}