$blue-color: #390e84;
$red-color: #e53935;
$bgc-grey-color: rgba(234, 231, 242, 0.5019607843137255);
$btn-lg: linear-gradient(270deg, #9961c6 0%, #7b3ea6 36%, #46278f 100%);
$white-color: #ffffff;
$purple-coolor: purple;
