@import '../../styles/mixins';
@import '../../styles/variables';



  .formjs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: url(../../images/mobile/bottom-lines.png);
    background-repeat: no-repeat;
    background-position: bottom;
    @include for-size(tablet) {
      background: url(../../images/tablet/back-widewave-bottom.png);
      background-repeat: no-repeat;
    }
    @include for-size(desktop) {
      background: url(../../images/desktop/leftwave.png);
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  @media screen and (min-width: 480px) {
    .header {
      display: flex;
      height: 64px;
      width: 100%;
      background: linear-gradient(to right, rgb(106, 83, 165), rgb(173, 129, 209));
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;
    }
    
    .btnGetback {
      margin-left: 36px;
      background: none;
      border: none;
      outline: none;
      font-size: 24px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: bold;
      text-transform: capitalize;
    }
    
    .form1 {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-left: 1000px;
    
      bottom: 0;
    }
    
    .formlabel1 {
      font-size: 20px;
    letter-spacing: 1px;
    color: #3a1085;
    font-weight: bold;
    font-family: "Candara";
    }
    
    .formlabel2 {
      font-size: 20px;
    letter-spacing: 1px;
    color: #390e84;
    font-weight: bold;
    font-family: "Candara";
    }
    
    .formlabel3 {
      font-size: 20px;
    letter-spacing: 1px;
    color: #3e1687;
    font-weight: bold;
    font-family: "Candara";
    }
    
    .formlabel4 {
      font-size: 20px;
    letter-spacing: 1px;
    color: #3e1687;
    font-weight: bold;
    font-family: "Candara";
    }
    
    .input1 {
      font-weight: 1000px;
    }
    
    .btn1 {
      width: 188px;
      height: 37px;
      background-color: rgba(234,231,242,0.5019607843137255);
      border: 1px solid #390e84;
    }
    
    
    
  
  
  
  
  
  
  }
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    height: 64px;
    width: 100%;
    background: linear-gradient(to right, rgb(106, 83, 165), rgb(173, 129, 209));
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }
  
  .btnGetback {
    margin-left: 36px;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .form1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 1000px;
  
    bottom: 0;
  }
  
  .formlabel1 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3a1085;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel2 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #390e84;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel3 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3e1687;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel4 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3e1687;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .input1 {
    font-weight: 1000px;
  }
  
  .btn1 {
    width: 188px;
    height: 37px;
    background-color: rgba(234,231,242,0.5019607843137255);
    border: 1px solid #390e84;
  }
}
@media screen and (min-width: 992px) {
  .header {
    display: flex;
    height: 64px;
    width: 100%;
    background: linear-gradient(to right, rgb(106, 83, 165), rgb(173, 129, 209));
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }
  
  .btnGetback {
    margin-left: 36px;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .form1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 1000px;
  
    bottom: 0;
  }
  
  .formlabel1 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3a1085;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel2 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #390e84;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel3 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3e1687;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .formlabel4 {
    font-size: 20px;
  letter-spacing: 1px;
  color: #3e1687;
  font-weight: bold;
  font-family: "Candara";
  }
  
  .input1 {
    font-weight: 1000px;
  }
  
  .btn1 {
    width: 188px;
    height: 37px;
    background-color: rgba(234,231,242,0.5019607843137255);
    border: 1px solid #390e84;
  }
}
  