@import '../../styles/mixins';
@import '../../styles/variables';

.loginjs {
  height: 100vh;
  background-image: url('../../images/mobile/bottom-lines.png');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position: bottom;
  @include for-size(tablet) {
    background-image: url('../../images/tablet/bottom-lines.png');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: bottom;
  }
  @include for-size(desktop) {
    background: url('../../images/desktop/bottomwaves-desk.png');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position: bottom;
  }
  .btnGetback2 {
    width: 100%;
    height: 66px;
    box-shadow: 0px 11px 10.5px rgba(0, 0, 0, 0.03);
    padding-left: 36px;
    background: $btn-lg;
    background-position: center;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-size: 24px;
    letter-spacing: 1px;
    color: $white-color;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 52px;
    // box-shadow: 0 0 10px;
    @include for-size(tablet) {
      width: 100%;
      height: 100px;
      margin-left: 1px;
      background: $btn-lg;
      background-position: center;
      text-align: left;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border: none;
      font-size: 30px;
      color: $white-color;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 100px;
    }
    @include for-size(desktop) {
      //
    }
  }
  .header {
    // display: none;
    @include for-size(tablet) {
      display: block;
    }
  }
  .form {
    display: block;
    margin: 0 auto;
    text-align: center;
    .formLabel {
      font-size: 20px;
      letter-spacing: 1px;
      color: $blue-color;
      font-weight: bold;
      font-family: 'Candara';
      display: block;
      margin: 30px;
      @include for-size(tablet) {
        font-size: 30px;
        letter-spacing: 1px;
        color: $blue-color;
        font-weight: bold;
        font-family: 'Candara';
      }
      @include for-size(desktop) {
      }
    }
    .formInput {
      // padding-bottom: 42px;
      border: none;
      border-bottom: 1px solid black;
      padding: 8px;
      @include for-size(tablet) {
        margin-bottom: 55px;
        border: none;
        border-bottom: 1 px solid black;
        padding: 17px;
        @include for-size(desktop) {
          //
        }
      }
    }
    .btn2 {
      display: block;
      margin: 20px auto;
      background-color: rgba(234, 231, 242, 0.5019607843137255);
      font-size: 20px;
      letter-spacing: 1px;
      color: #3e1687;
      font-weight: bold;
      font-family: 'Candara';
      padding: 10px 38px;
      border: 1px solid $blue-color;
    }
    @include for-size(tablet) {
      display: block;
      margin: 0 auto;
      background-color: rgba(234, 231, 242, 0.5019607843137255);
      font-size: 20px;
      letter-spacing: 1px;
      color: #3e1687;
      font-weight: bold;
      font-family: 'Candara';
      padding: 15px 41px;
    }
  }
}
.warning {
  display: block;
}
